extends layout

block content

    h1= title

    p #[strong Do you really want to delete this element?]
    p  Note: You need to delete all pokemons with this element first.
    
    if pokemon_list.length > 0
        h3 Pokemons with this element:
        ul
            each pokemon in pokemon_list
                li
                    a(href=pokemon.url) #{pokemon.name}
    else
        li There are no pokemons.

    form(method='POST' action='')
        div
        input(type='hidden',name='id', required='true', value=element._id)

        button.btn.btn-primary(type='submit') Delete
    
    if errors
        ul
        for error in errors
            li= error