extends layout

block content
    h1 #{pokemon.name}
    img(src=`data:${pokemon.avatar.contentType};base64,${pokemon.avatar.data.toString('base64')}`, alt=`${pokemon.name} image`)
    p Size: #{pokemon.size}
    p Description: #{pokemon.description}
    p ATT: #{pokemon.attack}
    p DEF: #{pokemon.defense}
    p HP: #{pokemon.health}
    p Elements: 
    ul 
        for element in pokemon.element
            li #{element.name}
    
    a(href="http://localhost:3000/pokeworld/pokemons") Back to pokemons list
    br
    a(href="http://localhost:3000/pokeworld/pokemon/#{pokemon._id}/delete/") Delete this pokemon
    br
    a(href="http://localhost:3000/pokeworld/pokemon/#{pokemon._id}/update/") Update this pokemon
